<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="form-group">
    <label class="from-label">ID</label>
    <input type="text" id="data"></input>
  </div>
  <div class="form-group">
    <label class="from-label">Group Name</label>
    <input type="text" id="name"></input>
  </div>
  <div class="form-group">
    <label class="from-label">User Data</label>
    <input type="text" id="data"></input>
  </div>
  <button class="btn btn-default" type="button" id="btnNewGroup" ng-click="createGroup()">Create New Group</button>
</div>
<div class="col-md-4"></div>
