<button ng-click="goBack()" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
<h1>PhotoEntry Profile</h1>
<h3><u>User</u> {{infos.name}}</h3>
<h4><u>Personal ID</u>  {{infos.personId}}</h4>
<h4><u>More infos</u>  {{infos.userData}}</h4>
<h4><u>Group ID</u>  {{groupId}}</h4>
<hr>
<div class="row  center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button class="btn btn-info" ng-disabled="alert" ng-click="verifyPerson()"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></button>
    <button id="btnAddPhoto" class="btn btn-success" ng-click="addPhoto()">Add Photo</button>
    <button class="btn btn-danger" ng-click="trashPerson()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
  </div>
<div class="col-md-4"></div>
</div>
<hr>
<h3>PhotoEntry Snaps</h3>
<table class="table" >
  <thead><tr><th>Persisted Id</th><th>Snap date</th><th></th></tr></thead>
  <tr ng-repeat="x in datas"><td>{{x.faceId}}</td><td>{{x.data}}</td><td><button class="text-right btn btn-danger text-left"  ng-click="trashPhoto(x)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>
</table>
<div ng-show="alert" class="alert alert-warning blink_me">
  <strong>Warning!</strong> No photos for this person
</div>
<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Sure to delete that?</p>
        <h4><b>ID</b> {{id}}</h4>
        <hr>
        <i>REMEBER: all infos about this element will also be deleted</i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        <button type="button" class="btn btn-danger" ng-model="files"  ng-click="delete()"   multiple title="Delete" resetOnClick="true">Delete it</button>
      </div>
    </div>
  </div>
</div>
