<!--div ng-show="warningAlert" class="alert alert-danger alert-dismissable">
  <a href="/#!/add" class="close" data-dismiss="danger" aria-label="close">&times;</a>
  <strong>ERROR!</strong> {{myWelcome}}
</div>
<div ng-show="successAlert" class="alert alert-success">
  <strong>Well Done!</strong> {{myWelcome}}
</div>
<br-->
<h3>{{faces.name}} profile</h3>
<h4><u>Personal ID</u>  {{faces.personId}}</h4>
<h4><u>More infos</u>  {{faces.userData}}</h4>
<hr>
<p ng-repeat="x in faces.persistedFaceIds">{{x}}</p>
