<!--div ng-show="warningAlert" class="alert alert-danger alert-dismissable">
  <a href="/#!/add" class="close" data-dismiss="danger" aria-label="close">&times;</a>
  <strong>ERROR!</strong> {{myWelcome}}
</div>
<div ng-show="successAlert" class="alert alert-success">
  <strong>Well Done!</strong> {{myWelcome}}
</div>
<br-->
<h3>{{faces.name}} profile</h3>
<h4><u>Personal ID</u>  {{faces.personId}}</h4>
<h4><u>More infos</u>  {{faces.userData}}</h4>
<hr>
<table class="table" >
  <thead><tr><th>Persisted Id</th></tr></thead>
  <tr ng-repeat="x in faces.persistedFaceIds"><td>{{x}}</td></tr>
</table>
<div ng-show="alert" class="alert alert-warning">
  <strong>Warning!</strong> No photos for this person
</div>
