<!DOCTYPE html>
<html>
<head>
  <title>Google+ JavaScript Quickstart</title>
  <!-- JavaScript specific to this application that is not related to API
     calls -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" ></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <meta name="google-signin-client_id" content="354313137561-68rl4vjo8fgvbm0qdmnlsqq32cc32kkn.apps.googleusercontent.com"></meta>
</head>
<body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <a href="#" ng-click="signOut()">Sign out</a>

</body>
</html>
