<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

            <div class="col-md-4"></div>
            <div class="col-md-4" center>
              <h1>PhotoSpeed</h1>
              <div id="deviceready" >
                  <video id="video" width="400" height="400" autoplay></video>
                  <button class="btn btn-warning"id="snap">Snap Photo</button>
                  <canvas id="canvas" width="640" height="480"></canvas>
              </div>
              </div>
                <div class="col-md-4"></div>

          <!-- Latest compiled and minified JavaScript -->
        </div>
