<div class="jumbotron">
  <h1>Hello Admin!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Another work day is going to start!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/#!/photos">Login!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <h1>PhotoSpeed groups</h1>
  <button class="btn btn-info" id="btnAddGroup"><a ng-href="/#!/add-group">New Group</a></button>
  <div>
    <div class="list-group">
      <br>
      <a ng-repeat="group in groups" ng-click="findPeople(group.personGroupId)" class="list-group-item" id="{{group.personGroupId}}">{{group.name}} ({{group.personGroupId}}) <button class="text-right btn btn-danger text-left"  ng-click="trash(group.personGroupId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
    </div>
    <hr>
    <div class="list-group">
      <a ng-repeat="person in people"  class="list-group-item" id="{{person.personId}}">{{person.name}} ({{person.personId}})<button class="text-right btn btn-danger text-left"  ng-click="trashP(person.personId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
    </div>
    <div ng-show="warningAlert" class="alert alert-warning alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Warning!</strong> No people in this group.
    </div>

  </div>
  <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Group</h4>
        </div>
        <div class="modal-body">
          <p>Sure to delete that?</p>
          <h4><small>ID </small>{{gid}} {{pid}}</h4>
          <hr>
          <i>REMEBER: Persisted face images of all people in the person group will also be deleted</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-danger" ng-model="files"  ng-click="delete(group.personGroupId)"   multiple title="Delete" resetOnClick="true">Delete it</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4"></div>
