
  <meta name="google-signin-client_id" content="354313137561-68rl4vjo8fgvbm0qdmnlsqq32cc32kkn.apps.googleusercontent.com"></meta>

<script src="https://apis.google.com/js/platform.js" async defer></script>



<div class="col-md-1">
</div>
<div class="col-md-10">
  <div class="row" align="center">
    <div class="col-md-4">
      <a class="btn btn-success"ng-href="/#!/add-group"><span class="glyphicon glyphicon-plus"></span></a>
</div>
        <div class="col-md-4">
  <h2><span class="glyphicon glyphicon-briefcase"></span> SpeedEntry groups</h2>
</div>
<div class="col-md-4">
  <a href="#" ng-click="signOut()" >Sign out</a>
</div>
</div>
    <br>
  <div ng-show="warningInternet" class="alert alert-danger">

    <strong>Attention!</strong> The system is not working. Check your connection
  </div>
  <double-bounce-spinner ng-show="load"></double-bounce-spinner>

    <div class="list-group">
      <br>
      <a ng-repeat="group in groups" href="" ng-click="findPeople(group.personGroupId)" class="list-group-item" id="{{group.personGroupId}}">{{group.name}} ({{group.personGroupId}})  <button class="btn btn-xs btn-danger pull-right"  ng-click="trash(group.personGroupId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></a>
    </div>
    <hr>
    <div>

<double-bounce-spinner ng-show="loadPerson"></double-bounce-spinner>
      <div class="row" align="center">
        <div class="col-md-4">
          <a ng-show="buttonPerson" class="btn btn-success" ng-href="/#!/add-person"><span class="glyphicon glyphicon-plus"></a>
</div>
          <div class="col-md-4">

            <h2 ng-hide="loadPerson"><span class="glyphicon glyphicon-user"></span> {{groupId}}</h2>
            </div>
              <div class="col-md-4"></div>
      </div>

      <div class="list-group">
        <br>
        <a ng-repeat="person in people" href="" ng-click="showPerson(person.personId)" class="list-group-item" id="{{person.personId}}">{{person.name}} ({{person.personId}})</a>


      </div>
      <div ng-show="warningAlert" class="alert alert-warning">
        <!--a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a-->
        <strong>Warning!</strong> No people in this group
      </div>
    </div>

  <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Group</h4>
        </div>
        <div class="modal-body">
          <p>Sure to delete this group?</p>
          <h4><b>ID</b> {{gid}}</h4>
          <hr>
          <i>REMEBER: Persisted face images of all people in the person group will also be deleted</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-danger" ng-model="files"  ng-click="delete(group.personGroupId)"   multiple title="Delete" resetOnClick="true">Delete it</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-1">
  <button class="btn btn-default" ng-click="old()"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-exclamation-sign"></span></button>

</div>
