<div id="direct_upload"    ng-model="f"    ng-multiple="true">
    <h1>PhotoEntry Verify</h1>
    <h3><u>User</u> {{name}}</h3>
    <hr>
    <div ng-init="action='In'">
    <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'In'" checked="checked">Entry
   </label>
   <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'Out'">Exit
   </label>
   <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'Pause IN'">Start break
   </label>
   <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'Pause OUT'">End break
   </label>
 </div>
   <hr>
    <br>
    <div ng-show="warningAlert" class="alert alert-danger alert-dismissable">
      <button type='button' class='close' data-dismiss='alert'>×</button>
      <strong>ERROR!</strong> {{myWelcome}}
    </div>

    <webcam channel="channel"    on-streaming="onSuccess()"     on-error="onError(err)"     on-stream="onStream(stream)" id="snap"> </webcam>
    <div class="form_controls">
      <div class="upload_button_holder">
        <button  class="btn btn-success" ng-model="files"  ng-click="makeSnapshot()"   multiple title="upload" resetOnClick="true" >Snap</button>
      </div>
    </div>
    <h2>Status</h2>
    <div class="file" >
      <div class="status">{{f.status}}</div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"  aria-valuemin="0" aria-valuemax="100" ng-style="{'width': f.progress+'%'}"  ></div>
      </div>

      <div id="modalUpload" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Snapshot</h4>
              </div>
              <div class="modal-body">
                <p>Sure to use that?</p>
                <canvas id="snapshot" width="300" height="300"></canvas>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" ng-model="files"  ng-click="uploadSnapshot('/about')"   multiple title="upload" resetOnClick="true">Use it</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
