<script src="https://apis.google.com/js/platform.js" async defer></script>


  <meta name="google-signin-client_id" content="354313137561-68rl4vjo8fgvbm0qdmnlsqq32cc32kkn.apps.googleusercontent.com"></meta>

<div id="direct_upload"    ng-model="f"    ng-multiple="true">
<div class="col-md-1">
  <button ng-click="goBack()"  ng-show="back" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
</div>
<br>
<div class="col-md-11">
  <h1><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> SpeedEntry Verify</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-10">
        <h4><i>Name</i>  {{ris.nome}}</h4>
        <h4><i>Em@il</i>  {{email}}</h4>
        <h4><i>Personal ID</i>  {{ris.persistedId}}</h4>
      </div>
      <div class="col-md-2">
          <a href="#" ng-click="signOut()" >Sign out</a>
        </div>
    </div>
  </div>
    <hr>
    <h4>SpeedEntry Action</h4>
    <br>
    <div ng-init="action='In'">
    <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'In'" checked="checked"><span class="glyphicon glyphicon-log-in"></span> SpeedEntry
   </label>
   <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'Out'"><span class="glyphicon glyphicon-log-out"></span> SpeedExit
   </label>

 </div>
 <div>
   <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'Pause IN'"><span class="glyphicon glyphicon-pause"></span> SpeedBreakStart
   </label>
   <label class="radio-inline">
     <input type="radio" ng-model="action" ng-value="'Pause OUT'"><span class="glyphicon glyphicon-play"></span> SpeedBreakEnd
      </label>
 </div>

   <hr>
    <br>
    <div ng-show="warningAlert" class="alert alert-danger alert-dismissable">
      <button type='button' class='close' data-dismiss='alert'>×</button>
      <strong>ERROR!</strong> {{myWelcome}}
    </div>

    <webcam channel="channel"    on-streaming="onSuccess()"     on-error="onError(err)"     on-stream="onStream(stream)" id="snap"> </webcam>
    <div class="form_controls">
      <div class="upload_button_holder">
        <button  class="btn btn-primary" ng-model="files"  ng-click="makeSnapshot()"   multiple title="upload" resetOnClick="true" >Snap</button>
      </div>
    </div>
    <h2>Status</h2>
    <div class="file" >
      <div class="status">{{f.status}}</div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"  aria-valuemin="0" aria-valuemax="100" ng-style="{'width': f.progress+'%'}"  ></div>
      </div>

      <div id="modalUpload" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></h4>
              </div>
              <div class="modal-body">
                <p>Sure to use this?</p>
                <canvas id="snapshot" width="300" height="300"></canvas>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" ng-model="files"  ng-click="uploadSnapshot('/about')"   multiple title="upload" resetOnClick="true">Use it</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
