<button ng-click="goBack()" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>

<h1>SpeedEntry Presences</h1>
<h3><u>User</u> {{infos.name}}</h3>
<h4><u>Personal ID</u>  {{infos.personId}}</h4>
<h4><u>More infos</u>  {{infos.userData}}</h4>
<h4><u>Group ID</u>  {{groupId}}</h4>


<!--double-bounce-spinner align="center" ng-show="getDatas"></double-bounce-spinner>
<hr-->
<div class="row  center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <!--button class="btn btn-info" ng-disabled="alert" ng-click="verifyPerson()"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></button>
    <button id="btnAddPhoto" class="btn btn-success" ng-click="addPhoto()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
    <button class="btn btn-danger" ng-click="trashPerson()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
    <button class="btn btn-info" ng-click="getPresents()"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button-->
</div>
<div class="col-md-4"></div>
</div>

<hr>
<h3>SpeedEntry Last Ten Operations</h3>
<table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
            {{user.age}}</td>
    </tr>
</table>
<!--double-bounce-spinner align="center" ng-show="getDatas"></double-bounce-spinner-->
<table class="table table-striped" at-table at-paginated at-list="list" at-config="config">
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit at-sortable at-attribute="age" width="150" at-initial-sorting="asc">{{list.age}}</td>
      <td at-implicit at-sortable at-attribute="name"  width="250"></td>
      <td at-implicit at-sortable at-attribute="birthdate"></td>
    </tr>
  </tbody>
</table>

<at-pagination at-list="list" at-config="config"></at-pagination>
<div ng-show="alert" class="alert alert-warning blink_me">
  <strong>Warning!</strong> No datas for this user
</div>
