<div class="col-md-1">
<button ng-click="goBack()" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
</div>
<br>
<div class="col-md-10">
<h1><span class="glyphicon glyphicon-user"></span> SpeedEntry Profile</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h4><i>Name</i>  {{ris.nome}}</h4>
    <h4><i>Em@il</i>  {{email}}</h4>
    <h4><i>Personal ID</i>  {{ris.persistedId}}</h4>
    <h4><i>Group ID</i> {{ris.groupId}}</h4>
  </div>
</div>

<div ng-show="successAlert" class="alert alert-success">
  <strong>Welcome to SpeedEntry!</strong> You have just registered action <strong>{{action}}</strong>
</div>


<h3><span class="glyphicon glyphicon-calendar"></span> SpeedEntry Today's Actions</h3>
<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="searchData">
      </div>
    </div>
  </form>
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>
          <a href="" ng-click="sortType = 'data_ora'; sortReverse = !sortReverse">
            Date time
            <span ng-show="sortType == 'data_ora' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'data_ora' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'azione'; sortReverse = !sortReverse">
          Action
            <span ng-show="sortType == 'azione' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'azione' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchData">
        <td>{{ user.data_ora }}</td>
        <td>{{ user.azione }}</td>
      </tr>
    </tbody>

  </table>
</div>
<div class="col-md-1"></div>
